body {
  padding: 50px;
  font-family: 'Fira Sans', sans-serif;  background: #BFF2FF;
  background-image: url("../img/Circle-white.png");
  background-repeat: no-repeat;
  background-position: 60rem 5rem;
}

a {
  cursor: pointer;
  color: #22A9CC;
}

a:hover {
  text-decoration: none;
  color: #63BDD4;
}

.center {
    text-align: center;
}

.highlight {
    font-style: italic;
    font-weight: 500;
}

.glyphicon-option-horizontal {
    font-size: 3rem;
}



/**************************/
/* logo */
/**************************/


.headline {
    text-align: center;
    color: #22A9CC;
}

#line-2 {
    font-size: 2rem;

}

#line-3 {
    font-size: 1.7rem;
    margin-bottom: 3rem;
}



/**************************/
/*    menu                */
/**************************/


.sidebar-nav {
    list-style: none;
}


.sidebar-nav li {
	margin: 1rem;
    line-height: 40px;
}


.sidebar-nav li a {
	font-size: 4rem;
    font-weight: 300;
    text-decoration: none;
    color: #22A9CC;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    color: #fff;
    text-decoration: none;
}


/**************************/
/* dropdown info */
/**************************/


.sidebar-nav div {
	color: #22A9CC;
}

.toggle p {
	margin: 1rem;
	font-size: 2rem;
    font-weight: 300;
}



/**************************/
/* about */
/**************************/

#about-img {
  width: 40%;
}


/**************************/
/* price card */
/**************************/

.price-card {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.price-card a {
    font-style: italic;
}

.fine-print {
    font-size: 1.2rem;
}

.panel {
    border-radius: 2rem;
    box-shadow: 3px 3px 5px #3C797F;
    margin: 4rem 0;
    background-color: #CFF2FF;
}

/**************************/
/* map */
/**************************/

.map {
	width: 100%;
	height: 400px;
}

#modal, .modal-dialog {
	width: 80%;
}

.map-toggle {
	display: none;
}

#location:focus{
	text-decoration: none;
	outline: none;
}

#congresspark-map img, #highlands-map img {
  max-width: none;
}



/**************************/
/* div toggle */
/**************************/

.toggle {
	display: none;
    margin: 3rem 0;
}



/**************************/
/* form */
/**************************/

.floating-label-form-group div {
    margin: 0;
		padding: 0;
}

.floating-label-form-group {
		/*background-color: rgba(255, 255, 255, 0.2);*/
		/*border-radius: 2rem;*/
    position: relative;
    margin-bottom: 0;
    padding-bottom: .1em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: .5em;
    margin: 0;
    font-size: .85em;
    /*line-height: 1.764705882em;*/
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 0;
}

.floating-label-form-group-with-focus label {
    color: #22A9CC;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

#hello {
	height: 16rem;
	width: 16rem;
	border-radius: 16rem;
	font-size: 3rem;
	color: #22A9CC;
  white-space: normal;
}

#hello:hover {
  background-color: #BFF2FF;
  color: white;
}

#hello:active, #hello:focus  {
  text-decoration: none;
  outline: none;
}

/**************************/
/* business card */
/**************************/

#card {
	font-size: 1.8rem;
	margin: 0.5rem;
}

#card:active  {
  text-decoration: none;
  outline: none;
}

#card a:hover {
	text-decoration: none;
	color: #63BDD4;
}

#card img {
	width: 16rem;
}

.btn-shaddow {
    box-shadow: 0px 2px 3px #3C797F;
}

.round-corners {
  border-radius: 18rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

/**************************/
/* mobile layout */
/**************************/

@media only screen and (max-width: 600px) {
	body {
    padding: 5px;
		background-image: none;
	}

	.sidebar-nav {
		width: 88%;
		margin: auto;
	}

  ul.sidebar-nav {
    padding: 0;
  }

	.sidebar-nav li {
		margin: auto;
		margin-top: 1rem;
		border: #22A9CC solid 1px;
		border-radius: 2rem;
		background-color: rgba(255, 255, 255, 0.2);
		text-align: center;
	}

	.sidebar-nav li a {
		font-size: 2rem;
	}

	.sidebar-nav > .sidebar-brand li {
	    font-size:3rem;
	    border: none;
			border-radius: none;
			background-color: none;
	}


}
